.top {
  text-align: center;
}

header {
  font-weight: bold;
  font-family: Georgia;
  text-align: center;
  font-size: 45px;
}

body {
  background-color: #87ceeb;
}

#dang_nhap {
  font-size: 40px;
}

div {
  margin-top: 100px;
  margin: auto;
  justify-content: center;
  width: 400px;
  height: 450px;
  border: 2px solid #f5f5f5;
  border-radius: 10px;
  background-color: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
}

#dangnhap_button {
  font-size: 15px;
  padding: 5px;
  border: 2px solid #1e90ff;
  border-radius: 6px;
  background-color: #1e90ff;
  width: 120px;
  height: 40px;
  box-sizing: border-box;
}

#dangky_button {
  font-size: 15px;
  padding: 5px;
  border: 2px solid #1e90ff;
  border-radius: 6px;
  background-color: #1e90ff;
  width: 120px;
  height: 40px;
  box-sizing: border-box;
  margin-top: 5px;
}

.login_form {
  border: 2px solid #1e90ff;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-left: 10px;
  height: 50px;
  margin-left: 25px;
}

button {
  cursor: pointer;
}