<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thanh toán</title>
    <link rel="stylesheet" href="paymethod.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
     <header class="header">
        <div class="logo">
            <a th:href="@{/back-to-home}">
                <img th:src="@{/css/imgs_oop/Logo.png}" alt="Logo" />
            </a>
        </div>

    <div class = "search">
     <form th:action="@{/search}" method="get">
        <input
            placeholder = "Tìm kiếm sản phẩm"
            name = "keyword"
            id = "tim_kiem"
            size = "80"
        >
         <button type="submit" id="search_button" class="fa-solid fa-magnifying-glass"></button>
     </form>
    </div>

    <div class = "extra">
        <span class="hotline">Hotline:<br> 0834784586</span>

        <div class ="cart_button">
            <a th:href="@{/cart}">
                <button type="button" id = "cart_button" class="fa-solid fa-cart-plus"></button>
            </a>
        </div>
        <div class = "log_out">
            <form th:action="@{/logout}" method="post">
                <button type="submit">Đăng xuất</button>
            </form>
        </div>
        
    </div>    
  </header>

    <div class="underhead">
        <button class="return" onclick="window.location.href='payment.html'">Quay lại</button>
        <button class="payment-option-btn" id="cod-btn">Thanh toán khi nhận hàng</button>
        <button class="payment-option-btn" id="transfer-btn">Thanh toán qua chuyển khoản</button>
    </div>

    <div id="transferModal" class="modal">
        <div class="modal-content">
            <span class="close-btn">×</span>
            <h2>Thông tin chuyển khoản</h2>
            <img id="transferInfoImage" src="img/qr.jpg" alt="Thông tin QR Chuyển khoản" />
            <p>Nội dung chuyển khoản: [Mã đơn hàng] - [Tên khách hàng]</p>
            <p>Ngân hàng: Vietin Bank</p>
            <p>Số tài khoản: 1234567890</p>
            <p>Chủ tài khoản: NGUYEN VAN A</p>
        </div>
    </div>
    <script src="paymethod.js"></script>

</body>

</html>